/* FONT STYLING */
body {
    font-family: 'Fjalla One', sans-serif;
}

.project-header {
    color: #1498D5;
}

.about-me {
    font-family: 'Open Sans', sans-serif;
}

/* BACKGROUND */
.page-footer {
    background-color: #1498D5;
}

.dark-background {
    background-color: rgba(0,0,0, 0.2);
}

/* MARGIN/PADDING STYLING */
.about-section {
    height: 400px;
}

.margin-x {
    margin-left: auto;
    margin-right: auto;
}

.margin-b {
    margin-bottom: 0px;
}

.margin-t  {
    margin-top: 185px;
}

.contact-btn {
    margin: 25px 15px;
}

.padding-y {
    padding-top: auto;
    padding-bottom: auto;
}

/* IMAGES */
.portfolio-img {
    opacity: .85;
}

.card-image img:hover {
    opacity: 1;
}

#logo-img {
    width: 300px;
    height: auto;
}

#profile-img {
    padding: none;
    width: 100%;
}

/* SIZING */

.parallax-container {
    height: 620px;
}

.parallax-footer {
    height: 510px;
}

/* BACK-TO-TOP BUTTON */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background-color: #1498D5;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background-color: #1A758E;
}
#back-to-top.show {
    opacity: 1;
}