.margin-x {
    margin-left: auto;
    margin-right: auto;
}

.margin-b {
    margin-bottom: 0px;
}

.margin-t  {
    margin-top: 170px;
}

.portfolio-img {
    opacity: .85;
}

.card-image img:hover {
    opacity: 1;
}

.contact-btn {
    margin: 25px 15px;
}

/* BACK-TO-TOP BUTTON */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background-color: #1D6C97;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background-color: #283B42;
}
#back-to-top.show {
    opacity: 1;
}